extends layout
block content
    .container
        .jumbotron
            .container
                h1= title
                p Welcome to #{title}
                a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
        .container
            .row
                .col-md-4
                    h2 About us
                    p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.
                    a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
                .col-md-4
                    h2 About us
                    p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.
                    a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
                .col-md-4
                    h2 About us
                    p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.
                    a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
